<!DOCTYPE html>
<html lang="en">
  <%= require('html-loader!./head.html') %>
    <!-- <travel-component></travel-component> -->
    <div id="travel-split-app">
      <h1>Your Upcoming Destinations</h2>
      <div class="location-contain">
        <div class="locations" >
          <place v-for='location in locations' :img='location.img' :desc='location.desc'>
            <h2>{{location.name}}</h2>
          </place>
          
        </div>
      </div>
    </div>
    
    <script type="text/x-template" id="place">
      <div class="place">
        <img :src='img' width="235" height="300"/>
        <slot></slot>
        <p>{{desc}}</p>
      </div>
    </script>
  </body>
</html>
